.spaceContainer {
  min-height: 600px;
  background: #222222 radial-gradient(circle, rgba(17, 18, 21, 0.5) 0%, #1818214d 80%, #222222 100%);
  position: relative;
  overflow: hidden;

  .uiBox {
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 10px;
    width: 200px;
    height: calc(100% - 40px);
    color: #FFF;
    background-color: rgba(255,255,255,0.05);
  }

}
